name: QuizeApp CI Pipeline 
on: 
  push: 
   branches:
     - main
jobs:
  build-test-deploy:
   runs-on: ubuntu-latest
   
   steps:
    - name:  clone repository
      uses: actions/checkout@v4
      with:
        repository: khushiNgm/QuizeApp
        
    - name: Test Stage
      run: echo "Testing a code"
      
    - name: Deploy Stage
      run: echo "Deploy a code "
