name: QuizeApp CI Pipeline 
on: 
  push: 
   branches:
     - main
jobs:
  build-test-deploy:
   runs-on: ubuntu-latest
   steps:
    - name:  clone repository
      uses: actions/checkout@v4
      
    - name: Login to Docker Hub 
      uses: docker/login-action@v3
      with:
       username: ${{ secrets.DOCKER_USERNAME }}
       password: ${{ secrets.DOCKER_PASSWORD }}
      
    - name: Docker image build 
      run: docker build -t {{ secrets.DOCKER_USERNAME }}/quizeapp:latest .
    
    - name: Push the image 
      run: docker push {{ secrets.DOCKER_USERNAME }}/quizeapp:latest 
   
    - name: deploy to image 
      uses: appleboy/ssh-action@v1.0.3
      with:
       host: ${{secrets.EC2_HOST}}
       username: ${{ secrets.EC2_USERNAME }}
       key: ${{ secrets.EC2_SSH_KEY }}
       script: |
        docker pull {{secrits.username}}/quizeapp:latest 
        docker stop quize-app || true
        docker rm quize-app || true
        docker run -d -p 80:80 --name quize-app {{secrits.username}}/quizeapp:latest 
      
